.button{
  display: flex;
  height: 100px;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background-color: grey;
  color: white;
  outline: 1px solid black;
  height: 100px;
}

.operator{
  background-color: darkred;
  color: white;
}

.Clear, .Zero{
  display: flex;
  flex: 3;
  height: 100px;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background-color: grey;
  color: white;
  outline: 1px solid black;
  height: 100px;
}

.button:last-child{
  background-color: darkred;
  color: white;
}
